.idea/
backend/design/compiled/*.*
backend/files/export/*.csv
backend/files/export_users/*.csv
backend/files/watermark/*.*
BingSiteAuth.xml
cache/**/*.*
compiled/**/*.*
cml/temp/*
cml/backup/*
config/config.local.php
files/**/*.*
google*.html
log/**/*.*
pinterest*.html
robots.txt
vendor/
!.htaccess
!.keep_folder
!files/lang/*
.vscode/launch.json

